/* fonts fameli подключение шрифтов */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fontsProximaNova-Bold.eot');
  src: url('../fontsProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fontsProximaNova-Bold.woff2') format('woff2'), url('../fontsProximaNova-Bold.woff') format('woff'), url('../fontsProximaNova-Bold.ttf') format('truetype'), url('../fontsProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fontsProximaNovaCond-Regular.eot');
  src: url('../fontsProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), url('../fontsProximaNovaCond-Regular.woff2') format('woff2'), url('../fontsProximaNovaCond-Regular.woff') format('woff'), url('../fontsProximaNovaCond-Regular.ttf') format('truetype'), url('../fontsProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Базовые цвета */
/* кнопки желтый */
/* иконки зеленый */
/* текст черный */
/* предупреждающий красный крестики */
/* фон былый с оттенком секции */
/*  фон белый */
/*Цвет */
/* basic setting базовые настройки  */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
/* Отключение подчеркивания ссылок */
a:hover {
  text-decoration: none;
}
/* Отключение обводки для кнопок, ссылок, полей */
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fbb202;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e2a002;
}
/* Typography заголовки секции  */
section {
  padding: 10rem 0;
}
/*  main первый экран */
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /*подзаголдовок*/
  /* Зеленый ярлык стоимость*/
  /*оплата по факту*/
  /*Главная форма*/
}
.main-content {
  margin-top: 10rem;
  /*Главный заголовок*/
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  color: #ffffff;
  background-color: #55a612;
  text-align: center;
  /*	Цифра 300*/
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /*Заголовок формы*/
  /*Пля для ввода данных*/
  /*Подписи к полям*/
  /*Кнопка отправить заявку*/
  /*Подпись под кнопкой*/
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
}
.main-form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
/* выравнивание кнопки по центру в строке */
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* выравнивание ссылки телефон по центру в строке */
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
/* адаптируем сайт под разные экраны с помощью медиа запросов */
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
}
